{% extends "base.html" %}

{% load static %}


{% block title %}My Account - VibeMall{% endblock %}

{% block content %}


<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">

                <div class="basic-login">
                    <h5 class="mb-30">Set New Password</h5>

                    <form method="POST">
                        {% csrf_token %}

                        <label>New Password <span>*</span></label>
                        <input type="password"
                            name="new_password1"
                            class="form-control mb-20"
                            required>

                        <label>Confirm New Password <span>*</span></label>
                        <input type="password"
                            name="new_password2"
                            class="form-control mb-25"
                            required>

                        <button type="submit" class="tp-in-btn w-100">
                            RESET PASSWORD
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{%endblock content%}
