{% extends "base.html" %}

{% load static %}


{% block title %}My Account - VibeMall{% endblock %}

{% block content %}



<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">

                <div class="basic-login">
                    <h5 class="mb-30">Reset Password</h5>

                    <p class="mb-20">
                        Enter your email address and we’ll send you a link to reset your password.
                    </p>

                <form method="POST">
                        {% csrf_token %}

                        <label>Email address *</label>
                        <input type="email" name="email" required>

                        {% if form.errors %}
                            <p style="color:red;">{{ form.errors.email }}</p>
                        {% endif %}

                        <button type="submit" class="tp-in-btn w-100">
                            Send Reset Link
                        </button>
                </form>


                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
